body,html {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    overflow: hidden !important;
}

.background {
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

img {
    -webkit-user-drag: none;
    margin: 0;
    width: 100vw;
    position: absolute;
    bottom: -5vw;
}

.clouds {
    bottom: 28vw;
}

.birds {
    bottom: 20vw;
    width: 20vw;
    right: 5vw;
}

.container {
    transform: scale(1.2);
    width: 100vw;
    height: 100vh;
}

.hills-1 {
    bottom: -7vw;
}


/*.back-mountain {*/
    /*filter: blur(2px);*/
/*}*/

/*!*.clouds {*!*/
    /*!*filter: blur(5px);*!*/
/*!*}*!*/

/*.front-mountain {*/
    /*filter: blur(1px);*/
/*}*/


@media screen and (max-width: 600px) {
    img {
        max-width: 200vw;
        object-fit: scale-down;
        object-position: left bottom;
        position: absolute;
        scale: 3;
        bottom: 10vh;
    }

    .birds {
        bottom: 30vh;
        right: 10vw;
        scale: 2;
    }

    .clouds {
        left: 0;
        bottom: 45vh;
        scale: 0.5;
    }
}